@font-face {
  font-family: "montserrat-regular";
  src: local("montserrat-Regular"), url("./fonts/Montserrat-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "montserrat-semi-bold";
  src: local("montserrat-SemiBold"), url("./fonts/Montserrat-SemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

p{
  font-family: 'montserrat-regular';
}